body {
     font-family: Verdana;
}
.colorA {
     background-color: #5e9d2f;
}
.colorB {
     background-color: #4A90E2;
}
.dark_gray {
     background-color: #9B9B9B;
}
.light_gray {
     background-color: #DEDEDE;
}
.colorA_text {
     color: #5e9d2f;
}
.colorB_text {
     color: #4A90E2;
}
.dark_gray_text {
     color: #9B9B9B;
}
.light_gray_text {
     color: #DEDEDE;
}
.profile_photo {
     border: 2px solid #9B9B9B;
}
.profile_label {
     font-size: 0.8em;
     text-transform: uppercase;
}
.profile_stats {
     font-size: 1.15em;
     font-weight: bold;
     color: #4A90E2;
}
/*div {
     border: 1px dotted #CCCCCC;
}*/
.container {
     margin: auto;
}
.width_100 {
     width: 100%;
}
.bold {
     font-weight: bold;
}
.summary_box {
     border: 0.25em solid #4A90E2;
     border-radius: 0.5em;
     padding: 1em;
}
.statistics {
     padding-top: 1em;
}
.search_row {
     padding: 0.5em;
     padding-right: 1em;
}
.table_border {
     border: 2px solid gray;
}
.tr_border {
     border: 1px solid  gray;
}
