{% extends "layout.html" %}
{% block body %}
<div class="row">
     <div class="col-md-2">
          xxx
     </div>
     <div class="col-md-8">
          <form action="/new_chirp" method="POST">
               <label>What's happening?</label>
               <input type="text" name="new_chirp">
               <br>
               <button class="btn btn-success" type="submit">Chirp</button>
          </form>
     </div>
     <div class="col-md-2">
          xxx
     </div>
</div>
<div class="row">
     <div class="col-md-2">
          xxx
     </div>
     <div class="col-md-8">
          <table class="table-striped table-bordered table-condensed width_100">
               {% for timeline in timeline_rows %}
               <tr>
                    <td>
                         <p>{{timeline.fname}} {{timeline.lname}} @{{timeline.handle}}</p>
                         <p>{{timeline.chirp_date}} {{timeline.chirp}}</p>
                    </td>
               </tr>
               {% endfor %}
          </table>
     </div>
     <div class="col-md-2">
          xxx
     </div>
</div>
{% endblock %}
